@charset "utf-8";

body {
    color: #6c6c6f;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.75;
    letter-spacing: 0;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

/*common ↑
------------------- */

/*-------------------
header ↓ */

.header {
    padding: 30px 0;
    background-color: #123d88;
}

.header__inner {
    max-width: 1200px;
    width: 88%;
    margin: auto;
}

/*----------------
footer ↓ */

.footer {
    padding: 32px 0;
    background-color: #123d88;
    color: #fff;
    text-align: right;
}

.footer__inner {
    max-width: 1200px;
    width: 88%;
    margin: auto;
}

.footer__copy {
    font-size: 15px;
}

.btn {
    padding: 10px 20px;
    background-color: #256BE6;
    color: #fff;
}

.btn--info {
    background-color: #2DBE61;
}

/*---------------------------
index.html
-----------------------------*/

/*--------------------------
features ↓ */

.features {
    padding: 80px 0;
}

.features__inner {
    max-width: 1200px;
    width: 88%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.features__info {
    width: 46%;
    /* 552/1200*100 */
}

.features__list {
    width: 46%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 45px;
    row-gap: 70px;
}