@use "sass:math";

// --- Spacing ---
$space-s: 0.5rem; // 8px
$space-m: 1rem; // 16px
$space-l: 1.5rem; // 24px
$space-xl: 2rem; // 32px
$space-xxl: 2.5rem; // 40px
$space-xxxl: 3rem; // 48px

// --- Colors ---
$color-text: #000;
$color-base: #000;
$color-main: #000;
$color-accent: #000;
$color-bg: #000;

// --- Typography ---
$font-size-base: 16;
$font-family-gothic: Verdana, "Helvetica Neue", Arial,
    "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
$font-family-mincho: "Times New Roman", Times, "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;

// --- Breakpoints ---
$breakpoints: (
    "tablet": 768px,
    "desktop": 640px,
    "philosophy":500px,
);
