@use 'sass:math';

$color-text: #31353b;
$color-main: #ff9900;
$color-accent: #f85a47;
$color-heading: #000;
$color-bg: #dbffff;

$font-family-base: Helvetica, Arial, sans-serif;

@mixin inner($mw: 1000px, $w: 88%) {
    max-width: $mw;
    width: $w;
    margin-left: auto;
    margin-right: auto;
}


body {
    color: $color-text;
    font-size: 15px;
    font-family: $font-family-base;
    line-height: math.div(26, 15);
    letter-spacing:#{math.div(20,1000)}em;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

/* common
---------------*/

/*----------------
header ↓ */

.header {
    &__inner {
        @include inner();
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        margin-top: 50px;
        margin-bottom: 80px;
        text-align: center;
    }

    &__logo {
        font-size: 24px;
        font-weight: bold;
        line-height: math.div(24, 24);
        letter-spacing: percentage(math.div(20, 1000));
    }
}

.gnav {
    &__list {
        display: grid;
        grid-auto-flow: column;
        justify-content: end;
        column-gap: 30px;
    }
}

/*----------------
unit ↓ */

.unit {
    &__catch {
        margin-bottom: 20px;
        color: $color-main;
        font-size: 18px;
        font-weight: bold;
        line-height: math.div(30, 18);
    }

    &__title {
        margin-bottom: 40px;
        color: $color-heading;
        font-size: 48px;
        line-height: math.div(58, 48);
    }

    // 要素の中の一番最後の要素の下マージンを0にする
    :last-child {
        margin-bottom: 0;
    }
}

/* index.html
-------------------*/
/*-----------
spaces ↓ */

.spaces {
    padding-bottom: 120px;

    &__inner {
        @include inner();
        display: grid;
        grid-template-columns: 440fr 500fr;
        column-gap: percentage(math.div(60, 1000));
        align-items: center;
    }
}

.btn {
    display: block;
    width: 200px;
    background-color: #f85a47;
    border-radius: 20px;
    color: $color-bg;
    text-align: center;
    padding: 20px 30px;
    margin-top: 60px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.02em;
}

/*----------------
reviews ↓ */

.reviews {
    padding-bottom: 120px;

    &__inner {
        @include inner();
    }

    &__info {
        margin-bottom: 40px;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: percentage(math.div(60, 1000));
    }
}

.card {
    border: 1px solid #a3a3a3;
    /* 枠線の太さ・種類・色 */
    border-radius: 8px;
    /* 角を丸くする（任意） */
    padding: 45px 40px;
    /* 内側の余白 */
    background-color: #fff;
    /* 背景色（任意） */

    &__content {
        margin-bottom: 80px;
    }
}

.customer {
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    column-gap: 20px;
}


/*-----------------
footer ↓ */

.footer {
    background-color: #DBFFFF;
    padding: 110px 0;

    &__inner {
        @include inner();
        text-align: right;
    }
}

.footer .gnav {
    margin-bottom: 40px;
}

/* about.html
-------------------*/

/*-------------------
office ↓ */

.office {
    &__inner {
        @include inner();
        display: grid;
        grid-template-columns: 440fr 500fr;
        column-gap: percentage(math.div(60, 1000));
        align-items: center;
        grid-auto-flow: revert;
        order: 1;
        margin-bottom: 120px;
    }

    &__info {
        order: 2;
    }
}

/*------------
information ↓ */

.information {
    &__inner {
        @include inner();
    }

    &__pic {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 50px;
        margin-top: 60px;
    }

    &__text {
        margin-top: 20px;
    }
}

.information .btn {
    width: 300px;
    margin-bottom: 120px;
}